[core]
	editor = code --wait
[init]
	defaultBranch = main
[user]
	name = Mateus José Barbosa
	email = mateus@findme.id
[pull]
	rebase = true
[alias]
	s = !git status -s
	c = !git add --all && git commit -m
	l = !git log --pretty=format:'%C(blue)%h%C(red)%d %C(white)%s - %C(cyan)%cn, %C(green)%cr'